h1 Groupe #{@group.name}

h2 Edition de groupe

=form_for @group do |f|

  .field
    =f.label :name
    =f.text_field :name
  .field
    =f.label :description
    =f.text_field :description

  =f.submit 

  =link_to 'retour au groupe', group_path(@group), class: 'button'