h1 Bienvenue à la ferme des poneys !

h2 Création de groupe

=form_for @group do |f|

  .field
    =f.label :name
    =f.text_field :name

  =f.submit 

=link_to 'Les groupes de poneys', groups_path, class: 'button'
