h1 Poney #{@pony.name}

h2 Edition du poney


=form_for @pony do |f|

  .field
    =f.label :name
    =f.text_field :name

  .field
    =f.label :mane
    =f.text_field :mane

  .field
    =f.label :fur
    =f.text_field :fur

  .field
    =f.label :eyes
    =f.text_field :eyes

  .field
    =f.label :description
    =f.text_area :description

  =f.submit 

=link_to 'retour au poney', pony_path(@pony), class: 'button'