h1 Bienvenue à la ferme des poneys !

h2 Poneys présents

=form_for @pony do |f|

  .field
    =f.label :Nom
    =f.text_field :name

  .field
    =f.label :Crinière
    =f.text_field :mane

  .field
    =f.label :Robe
    =f.text_field :fur

  .field
    =f.label :Yeux
    =f.text_field :eyes

  .field
    =f.label :Description
    =f.text_area :description
  =f.submit 

=link_to 'Voir les poneys', ponies_path, class: 'button'
