body{
  font-family: "Century Gothic";
}

select{
  border: none;
  font-family: "Century Gothic";
}

a{
  text-decoration: none;  
}

table{
  margin: auto;

}
ul{
  text-align:center;
  list-style: none; 
  margin: 0 0 0 44.4vw;
}

li{
  width:12%;
  overflow:hidden;
  border: 1px solid black;
  border-style: none none solid;
}

li:last-child{
  border-style: none;
}

th, td {
  border: 1px solid black;
  border-style: none none solid solid ;
  padding: 1em;
}

tr:last-child td:not(:first-child){
  border-style: none none none solid ;
}
tr:last-child td:first-child{
  border-style: none;
}

th:first-child,td:first-child{
  border-style: none none solid none;
}

h1{
  text-align: center
}

h2{
  margin: 1em;
}

td.icons{
    border-style: none !important;
}

.button_menu{
    text-align: center
}

.center{
  margin: center;
}

.button {
  border: 1px solid black;
  font-size: 0.8em;
  display: inline-block;
  margin: 3em 1.5em;
  padding: 1em;
  background-color: transparent;
  color: black;
  text-decoration: none;
}
input[type="submit"]{
  border: 1px solid black;
  width: 10%;
  font-size: 0.8em;
  display: inline-block;
  margin: 3em 1.5em;
  padding: 1em;
  background-color: transparent;
  color: black;
  text-decoration: none;
}

input[type="submit"]:hover{
  border: 1px solid #33cccc;
  background-color: whitesmoke;
}
.button:hover {
  border: 1px solid #33cccc;
  background-color: whitesmoke;
}

.right{
  margin: 0 4em 1em 0;
  float:right;  
}

input{
  border: none;
  margin: 0 0 1em 1em;
  padding: 10px;
  width: 30%;
}
textarea{
  font-family: "Century Gothic";
  height: 4em;
  width: 20vw;
  resize: none;
  border:none;
}


textarea:focus, input:focus {
  outline: none;
}
